{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
	<div class="card"style="height:100%">
	<div class="d-flex col-12 flex-column align-items-center justify-content-center mt-2">
		<h4 class="text-center m-3">Password updated succesfully
			<br>
			<br>
			<i class="fa fa-check-circle fa-4x text-center success m-2" aria-hidden="true"></i>
			<br>

			<br> <a  class="text-bold-600 info" href="{% url 'logout_view' %}"> <u>sign in</u></a> again with new password</h4>
	</div>
</div>
</div>
<script>
function goBack() {
    window.location.href = '/accounts'; 
}
</script>

{% endblock %}